@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

::-webkit-scrollbar {
  display: none;
}

* {
  transition:
    background-color 0.3s ease,
    color 0.3s ease,
    border-color 0.3s ease,
    box-shadow 0.3s ease;
}


body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: white;
  font-family: "Inter", sans-serif;
}

.active-item {
  color: white !important;
}

.icon-container {
  background-color: #2f5323;
  border-radius: 20%;
  padding: 10px;
}

.auth-container {
  max-width: 400px;
  margin: 100px auto;
  background: white;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.input-group {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
}

.input-group label {
  margin-bottom: 0.5rem;
}

.input-group input {
  padding: 0.75rem;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.button {
  width: 100%;
  padding: 0.75rem;
  background-color: #3f6b2f;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.button:hover {
  background-color: #2f5323;
}

p {
  margin-top: 1rem;
  text-align: center;
}

.sidebar {
  width: 250px;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  padding: 1rem;
  transition: width 0.3s;
}

.sidebar-title {
  font-family: 'Archivo Black', sans-serif;
  font-size: 18px;
  font-weight: 600;
}

@media (max-width: 768px) {
  .sidebar {
    width: 50px !important;
    padding: 1rem 0.5rem;
  }
  .sidebar-m {
    width: 50px !important;
  }
  .sidebar-text {
    display: none;
  }
  .sidebar-title {
    display: none;
  }
  .profile-img {
    display: none !important;
  }
  .icon-container {
    margin-right: 0 !important; 
  }
  .welcome-message {
    font-size: 20px !important;
  }
  .submenu-container {
    padding-left: 0px !important;
  }
}

.dark {
  background-color: #121212;
  color: #ffffff;
}

.dark .navbar {
  background-color: #1e1e1e !important;
}

.dark .btn {
  background-color: #2c2c2c;
  color: white;
}

.total {
  font-family: 'Archivo Black', sans-serif;
}


table {
  font-family: "Open Sans", sans-serif;

}

td {
  vertical-align: middle;
}